@import '../variables.scss';

.notFound{
    @extend %flex-row-center;
    align-items: center;
    font-family: $grotesk;
    height: 100vh;

    &__container{
        @extend %flex-col;
        align-items: center;
    }
    

    p{
        font-size: 17.875em;
    }
    
    span{
        font-family: $grotesk;
        font-size: 2em;
    }

    button{
        margin-top: 2em;
    }
}