@import '../variables.scss';

.category{
    @extend %flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px  8px 0px;
    color: $color-greyLight;
    border-bottom: 1px solid $color-black;
    cursor: pointer;

    // @media (max-width:1366px) {
    //     padding: 4px 4px 4px 0px;
    // }

    p{
        font-family: $grotesk;
        font-size: 2.5em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h3{
        font-family: $grotesk;
        font-size: 3.75em;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
}